body {
    background-color: #D0D0D0;
    max-width: 100%;
    overflow-x: hidden;
    padding-left:  10%;
    padding-right: 10%;
}


ul {
    list-style-type: none;
}

#positionLogin{
    padding-left: 50px;
}
body div.row{
    margin-top:10%;
}
.med {
    font-size: 27px;
    color: white;
    padding: 3px;
}
input{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    text-align: center;
}
.colored {
    background-color: #FFFFFF;
    text-align:center;

}
.border-radius{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.border-login{
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}
.wide {
    background-color: #8EB7E4;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.hidden {
    display: none;
}
.medhidden {
    font-size: 27px;
    color: #f96145;
    padding: 10px;
    text-align: center;
    width:100%;
}
.redborder {
    border:2px solid #f96145;
    border-radius:2px;
}
h1 {
    position: relative;
    font-size: 70px;
    margin-top: 0;
    font-family: 'Lobster', sans-serif;
    color:#FF9933;
}

#buttonaddurl {
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 60px;
}




.icon-size
{
    font-size: 87px;
}

#myForm {
    padding-top: 10%;
    position:relative;
    bottom: 15px;
}

#tmodify{
    position: relative;
    padding-top: 5%;
    width: 95%;
    border-collapse: separate;
    border-spacing: 10px 20px;
    text-align: left;
}

#divurl {
    padding-top: 50px;
}


th {
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#tableurl{
    border-collapse: separate;
    border-spacing:  5px 15px;

    width : 100%;
    padding-top: 2%;
}

#tablesubmiturl{
     border-collapse: separate;
    border-spacing:  5px 15px;
    width: 60%;
}

#loginform{
    margin-top: 10%;
}
#inputurl{
    width: 85%;
}

#urlshort{
    width: 100%;
    height:50%;
    position:relative;
    top:60%;
}

#buttoncut {
    width: 15%;
}

#bregistre {
    width: 15%;
    margin-top: 2%;
}
#idtable{
    border-collapse: separate;
    border-spacing:  15px;
}

.tooltipPass {
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

#cancelurl{
    margin-left: 70%;
}
#submiturl{
    margin-right: 70%;
}

#divurlshort{
    margin-top: 40px;
}

.tdurl{
    width: 50px;
}